.dish-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid cadetblue;
  margin: 0px;
  padding: 8px;
  margin-bottom: 5px;
}

.dish-image {
  width: 100px;
}

.dish-content {
  display: flex;
  align-items: flex-start;
}

.dish-heading {
  margin: 0px;
  padding-top: 0px;
  font-size: 22px;
}

.food-dot {
  font-size: 30px;
  margin-top: 6px;
  margin-right: 19px;
}

.green-dot {
  color: rgb(50, 159, 17);
  font-size: 30px;
  margin-top: 6px;
  margin-right: 19px;
}

.dish-price {
  font-size: 18px;
  font-family: 'Roboto';
  font-weight: 600;
  padding-bottom: 0px;
  margin-bottom: 3px;
}

.dish-description {
  color: cadetblue;
  font-size: 16px;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 2px;
  margin-bottom: 5px;
}

.calories-and-image-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
}

.dish-calories {
  color: rgb(146, 219, 38);
  font-size: 18px;
  font-weight: 500;
}

.addon-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 140px;
  height: 45px;
  border-radius: 20px;
  background-color: rgb(148, 133, 0);
  margin-top: 2px;
}

.addon-button {
  background-color: transparent;
  color: #fff;
  font-size: 30px;
  border-width: 0px;
}

.addon-text {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

.addon-customization-text {
  color: rgb(73, 96, 246);
  font-size: 16px;
  font-weight: 500;
}
