.app-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.restaurant-name {
  font-size: 26px;
  font-family: 'Roboto';
  font-weight: 600;
}

.cart-logo-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 140px;
  height: 40px;
}
.my-orders-text {
  font-weight: 500;
  font-size: 16px;
}
.cart-icon {
  font-size: 30px;
}

.tabs-container {
  display: flex;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.dish-container {
  list-style-type: none;
  width: 100%;
}
