.app-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.tabs-container {
  display: flex;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.dish-container {
  list-style-type: none;
  width: 100%;
}
